cloudflare_account_id = "<cloudflare-account-id>"
cloudflare_zone_id    = "<cloudflare-zone-id>"
route_pattern         = "example.com/*"

worker_name     = "freedomtimes-holding"
holding_title   = "Freedom Times"
holding_heading = "Freedom Times"
holding_message = "We are preparing the site. Please check back soon."
contact_email   = ""
