AUTH0_DOMAIN=your-tenant.example-auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_API_AUDIENCE=
API_BASE_URL=
COOKIE_BASE_DOMAIN=example.com
AUTH0_ROLES_CLAIM_NAMESPACE=https://example.com
API_UPSTREAM_MODE=apim
